.asset {
  background: $panelBgColor;
  height: $assetHeight;
  box-sizing: border-box;
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: $panelBorderRadius;
  padding: 0 $panelPaddingHorizontal;

  &:hover {
    box-shadow: $boxShadow;
  }

  &__title {
    margin: 24px 0 13px;
  }

  &__name {
    font-size: $fontSizeMedium;
    color: $selectedFontColor;
  }

  &__icon {
    width: $assetIconSize;
    height: $assetIconSize;
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
  }

  &__value {
    display: block;
    font-size: $fontSizeBold;
    font-weight: $fontWeightLight;
    color: $selectedFontColor;
    margin-bottom: 7px;
  }

  &__description {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
  }

  &__status {
    font-size: $fontSizeSmaller;
    text-transform: uppercase;
    color: $activeColor;
    padding: 3px 4px;
    background: $assetStatusBg;
    margin-left: 7px;
    vertical-align: middle;
  }

  &__content {
    margin: 0 0 10px;
  }

  &__actions {
    margin-top: auto;
    padding: 8px 0;
    position: relative;
    border-top: 1px dotted $separatorBgColor;
  }

  &__action {
    display: inline-block;
    vertical-align: middle;
    margin-right: 13px;
    padding: 15px 0;
    cursor: pointer;

    &:hover {
      color: $selectedFontColor;
    }
  }

  &__unpin {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;

    @include _icon($unpinIconSize, 0, inline-block, unpin);
  }

  &-empty {
    align-items: center;
    justify-content: center;
    font-weight: $fontWeightLight;
    font-size: $assetEmptyFontSize;
    color: $separatorBgColor;
    cursor: pointer;
  }
}
@include _icon-list($assetActionIconSize, $assetActionMarginRight, inline-block, asset__action, send deposit);
