$assetsBgColor: #212121;

$panelBgColor: #2d2d2d;
$panelBorderRadius: 4px;
$panelPaddingHorizontal: 20px;

$separatorBgColor: #424242;
$boxShadow: 0 0 15px rgba(0,0,0,.5);

$defaultFontColor: #8c8c8c;
$navFontColor: #d3d3d3;
$selectedFontColor: #fff;
$activeColor: #5a81ea;

$headerHeight: 70px;
$sidebarWidth: 70px;
$gapSize: 10px;
$fontFamily: 'Roboto', sans-serif;
$fontSizeSmaller: 9px;
$fontSizeSmall: 13px;
$fontSizeDefault: 15px;
$fontSizeMedium: 17px;
$fontSizeBold: 24px;
$fontSizeBolder: 28px;
$fontWeightLight: 300;

$avatarWidth: $sidebarWidth;
$avatarMargin: 15px;
$avatarIconSize: 40px;

$controlItemSize: 50px;
$controlItemMarginBottom: 5px;
$controlIconSize: 26px;

$buttonHeight: 42px;
$buttonPaddingHorizontal: 0 25px 0 20px;
$buttonIconSize: 18px;
$buttonIconMarginRight: 8px;
$buttonTextColor: $defaultFontColor;

$chartToolbarHeight: 60px;
$chartAreaHeight: 223px;

$tabMarginRight: 30px;

$periodMarginRight: 30px;

$navMarginRight: 42px;
$navIconSize: 26px;
$navIconMarginRight: 10px;

$assetHeight: 190px;
$assetIconSize: 30px;
$assetStatusBg: rgba(90,129,234,.15);
$assetEmptyFontSize: 60px;
$assetActionIconSize: 18px;
$assetActionMarginRight: 8px;

$unpinIconSize: 20px;

$menuIconSize: 18px;
$menuIconMarginRight: 2px;
